<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
  <title>Widget Chooser</title>
  <link type = "text/css" rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link type = "text/css" rel = "stylesheet" href="../css/style.css">
</head>
<body>
<nav class = "navbar navbar-default navbar-fixed-top">
  <div class = "container-fluid">
    <p class = "navbar-text pull-left">
      <a href = "../widget/widget-list.html" class = "widget-nav-text">
        <span class = "glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>
    <p class = "navbar-text">
      <a href = "#" class = "widget-nav-text">
        <label>Chose Widget</label>
      </a>
    </p>
  </div>
</nav>
<div class = "container">
  <div class = "row page-item">
    <div class = "col-sm-6">
      <a href = "widget-heading.html">
        <span class = "text text-info">Header</span>
      </a>
    </div>
  </div>
  <div class = "row page-item">
    <div class = "col-sm-6">
      <a href = "widget-image.html">
        <span class = "text text-info">Image</span>
      </a>
    </div>
  </div>
  <div class = "row page-item">
    <div class = "col-sm-6">
      <a href = "widget-youtube.html">
        <span class = "text text-info">Youtube</span>
      </a>
    </div>
  </div>
</div>
<nav class = "navbar navbar-default navbar-fixed-bottom">
  <div class = "container-fluid">
    <p class = "navbar-text pull-right">
      <a href = "../user/profile.html">
        <span class = "glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
</body>
</html>
