.widget-toolbar-item {
  position: absolute;
  right: 7px;
  background-color: #fff;
  padding: 2px;
  border-bottom-left-radius: 10px;
  z-index: 1;
}
.settings-icon {
  color: 	#428bca;
}
.youtube-widget {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.youtube-widget iframe {
  position: absolute;
  top: 0;
  left: 0;
}
