<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-text pull-left">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class = "website-nav-header">Widgets</b>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new']" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
  </div>
</nav>
<div class = "container-fluid">
  <div *ngFor="let widget of widgets">
    <div [ngSwitch]="widget.type">
      <div *ngSwitchCase="'HEADING'">
        <div class="row">
          <div class="col-xs-12">
            <div class = "widget-toolbar-item">
              <span class = "glyphicon glyphicon-menu-hamburger"></span>
              <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]">
                <span class = "glyphicon glyphicon-cog settings-icon"></span>
              </a>
            </div>
            <div [ngSwitch]="widget.size">
              <div *ngSwitchCase="1">
                <h1>{{widget.text}}</h1>
              </div>
              <div *ngSwitchCase="2">
                <h2>{{widget.text}}</h2>
              </div>
              <div *ngSwitchCase="3">
                <h3>{{widget.text}}</h3>
              </div>
              <div *ngSwitchCase="4">
                <h4>{{widget.text}}</h4>
              </div>
              <div *ngSwitchCase="5">
                <h5>{{widget.text}}</h5>
              </div>
              <div *ngSwitchCase="6">
                <h6>{{widget.text}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'YOUTUBE'" class="youtube-widget">
        <div class="row">
          <div class="col-xs-12">
            <div class = "widget-toolbar-item">
              <span class = "glyphicon glyphicon-menu-hamburger"></span>
              <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]">
                <span class = "glyphicon glyphicon-cog settings-icon"></span>
              </a>
            </div>
            <iframe [width]="widget.width"
                    height="315"
                    frameborder="0"
                    [src]="widget.url | safe">
            </iframe>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'IMAGE'">
        <div class="row">
          <div class="col-xs-12">
            <div class = "widget-toolbar-item">
              <span class = "glyphicon glyphicon-menu-hamburger"></span>
              <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]">
                <span class = "glyphicon glyphicon-cog settings-icon"></span>
              </a>
            </div>
            <img [width]="widget.width"
                 height="350"
                 [src]="widget.url | safe" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class = "navbar navbar-default navbar-fixed-bottom">
  <div class = "container-fluid">
    <p class = "navbar-text pull-left">
      <a class = "widget-nav-text">
        <span class="glyphicon glyphicon-triangle-right"></span>
      </a>
    </p>
    <p class = "navbar-text pull-left">
      <a class = "widget-nav-text">
        <span class="glyphicon glyphicon-eye-open"></span>
      </a>
    </p>
    <p class = "navbar-text pull-right">
      <a [routerLink]="['/user', userId]">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
