<nav class="navbar navbar-default navbar-fixed-top website-nav-background">
  <div class="container-fluid">
    <div class="navbar-text pull-left">
      <a [routerLink]="['/user', userId]" class="navbar-link">
        <span class="website-nav-text glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class = "website-nav-text website-nav-header">Websites</b>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a [routerLink]="['/user', userId, 'website', 'new']" class="navbar-link">
        <span class="website-nav-text glyphicon glyphicon-plus"></span>
      </a>
    </div>
  </div>
</nav>
<div class = "container-fluid">
  <div *ngFor="let website of websites" class = "row website-item">
   <div class = "col-xs-6">
     <a [routerLink]="['/user', userId, 'website' ,  website._id, 'page']">
       <span class = "text text-info">{{website.name}}</span>
     </a>
   </div>
   <div class = "col-xs-6">
     <a [routerLink]="['/user', userId, 'website', website._id]">
       <span class = "glyphicon glyphicon-cog pull-right text-info"></span>
     </a>
   </div>
 </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom website-nav-background">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]">
        <span class="website-nav-text glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
