<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class = "about-me">Vishal Sanjiv Kotak</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#work"><span class = "categories">Experience</span></a></li>
      <li><a href="#education"><span class = "categories">Education</span></a></li>
      <li><a href="#projects"><span class = "categories">Projects</span></a></li>
      <li><a href="#research"><span class = "categories">Research</span></a></li>
      <li><a href="#courses"><span class = "categories">Courses</span></a></li>
      <li><a href="#skills"><span class = "categories">Skills</span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://github.com/kotakvishal7" target = "_blank">
        <span class = "categories">GitHub</span>
      </a></li>
      <li><a href="mailto:kotak.v@husky.neu.edu?Subject=Hello%20Vishal" target="_top">
        <span class="glyphicon glyphicon-envelope email"></span></a></li>
      <li><a href="https://linkedin.com/in/vishalsanjivkotak" target="_blank">
        <span class = "categories">LinkedIn</span></a></li>
      <li><a href="tel:6178589150" target="_top"><span class="glyphicon glyphicon-phone email"></span></a></li>
    </ul>
  </div>
</nav>
<div id = "work">
  <div class = "container">
    <div class = "row">
      <div class = "col-xs-12 attributes">
        <span class = "vishal-attributes">Professional Experience</span>
      </div>
    </div>
    <div class = "row work-experience-item">
      <div class = "col-xs-6">
        <span class = "pull-left work-position">Junior System Administrator</span>
      </div>
      <div class = "col-xs-6">
        <span class = "pull-right dates">June 2016 - January 2017 | September 2017- Present</span>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-6">
        <a href = "http://www.ccis.northeastern.edu" target="_blank"><span class = "company-link">Northeastern University</span></a>
      </div>
    </div>
    <div class = "row work-experience-description">
      <div class = "col-xs-12">
        <ul>
          <li class = "description">Create dashboards and write scripts for desktop and server maintenance for the
            Computer Science department</li>
        </ul>
      </div>
    </div>
    <div class = "row work-experience-item">
      <div class = "col-xs-6">
        <span class = "pull-left work-position">Systems Analyst</span>
      </div>
      <div class = "col-xs-6">
        <span class = "pull-right dates">January 2017 - September 2017</span>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-6">
        <a href = "https://www.fidelity.com" target="_blank"><span class = "company-link">Fidelity Investments</span></a>
      </div>
    </div>
    <div class = "row work-experience-description">
      <div class = "col-xs-12">
        <ul>
          <li class = "description">Developed models for detection of excessive cash advances, potential foreign
            fighters and offshore gambling transactions</li>
          <li class = "description">Designed customer risk ranking web application to rank 40 million accounts
            considering various attributes such as transaction activity and location, providing real-time
            updates for risk mitigation</li>
        </ul>
      </div>
    </div>
    <div class = "row work-experience-item">
      <div class = "col-xs-6">
        <span class = "pull-left work-position">Research Assistant</span>
      </div>
      <div class = "col-xs-6">
        <span class = "pull-right dates">April 2016 - June 2016</span>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-6">
        <a href = "http://www.northeastern.edu/" target="_blank"><span class = "company-link">Northeastern University</span></a>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-12 work-experience-description">
        <ul>
          <li class = "description">Developed an Android application in a three-person team to integrate visual recognition algorithms on images</li>
        </ul>
      </div>
    </div>
    <div class = "row work-experience-item">
      <div class = "col-xs-6">
        <span class = "pull-left work-position">Masters Assistant</span>
      </div>
      <div class = "col-xs-6">
        <span class = "pull-right dates">January 2016 - April 2016</span>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-6">
        <a href = "http://www.northeastern.edu/" target="_blank"><span class = "company-link">Northeastern University</span></a>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-12 work-experience-description">
        <ul>
          <li class = "description">Tutored students and graded submissions of 300 students for Logic and Computation
            (CS 2800) course</li>
        </ul>
      </div>
    </div>
    <div class = "row work-experience-item">
      <div class = "col-xs-6">
        <span class = "pull-left work-position">Software Developer</span>
      </div>
      <div class = "col-xs-6">
        <span class = "pull-right dates">July 2015 - December 2015</span>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-6">
        <a href = "http://tssconsultancy.com/" target="_blank"><span class = "company-link">TSS Consultancy Pvt. Ltd.</span></a>
      </div>
    </div>
    <div class = "row work-experience-description">
      <div class = "col-xs-12">
        <ul>
          <li class = "description">Developed web applications using ASP.NET C#, SQL Server for multiple mutual fund
            clients including, exchange traded fund</li>
          <li class = "description">Increased efficiency by 30 percent by implementing server-side updates using
            SignalR for revenue and profit calculation</li>
          <li class = "description">Designed dashboards with graphs using Highcharts.js and Angular.js for client in
            the fitness and financial domain</li>
        </ul>
      </div>
    </div>
    <div class = "row work-experience-item">
      <div class = "col-xs-6">
        <span class = "pull-left work-position">Associate Software Engineer</span>
      </div>
      <div class = "col-xs-6">
        <span class = "pull-right dates">September 2014 - July 2015</span>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-6">
        <a href = "http://accenture.com/" target="_blank"><span class = "company-link">Accenture Services Pvt. Ltd.</span></a>
      </div>
    </div>
    <div class = "row work-experience-description">
      <div class = "col-xs-12">
        <ul>
          <li class = "description">Worked towards implementation of modules like Revenue Generation, Profit
            Calculation within the Commercial Project Management module and Temporary to Permanent Employee
            Transformation within the Multi-Resource Scheduling of Project Systems module in SAP using
            Advanced Business Application Programming (ABAP)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id = "education">
  <div class = "container">
    <div class = "row">
      <div class = "col-xs-12 attributes">
        <span class = "vishal-attributes">Education</span>
      </div>
    </div>
    <div class = "row education-item">
      <div class = "col-xs-8">
        <a href = "http://ccis.northeastern.edu" target="_blank"><span class = "work-position">
          Northeastern University<span class = "location">, Boston, Massachusetts</span></span></a>
      </div>
      <div class = "col-xs-4">
        <span class="pull-right dates">April 2018</span>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-8">
        <span class = "company-link">Masters of Science in Computer Science</span>
      </div>
    </div>
    <div class = "row education-item">
      <div class = "col-xs-8">
        <a href = "https://ves.ac.in/vesit/courses/under-graduate-courses/computer-engineering/" target="_blank">
          <span class = "work-position">University of Mumbai<span class = "location">, Mumbai, India</span></span></a>
      </div>
      <div class = "col-xs-4">
        <span class="pull-right dates">May 2014</span>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-8">
        <span class = "company-link">Bachelors of Engineering in Computer Engineering</span>
      </div>
    </div>
  </div>
</div>
<div id = "projects">
  <div class = "container">
    <div class = "row">
      <div class = "col-xs-12 attributes">
        <span class = "vishal-attributes">Projects</span>
      </div>
    </div>
    <div class = "row project-item">
      <div class = "col-xs-12">
						<span class = "work-position">NU Shuttle</span>
						<a href = "https://github.com/purvakamat/NUShuttle" target="_blank"><span class = "glyphicon glyphicon-share-alt"></span></a>
      </div>
    </div>
    <div class = "row project-description">
      <div class = "col-xs-12">
        <ul>
          <li class = "description">Developed a MEAN (MongoDB 3.4, Express, Angular 4 and Node 8.7) Northeastern
            shuttle management system by providing services like booking a ride for students and allowing drivers to
            plan their trips at student drop off locations.</li>
        </ul>
      </div>
    </div>
    <div class = "row project-item">
      <div class = "col-xs-12">
						<span class = "work-position">Website Application Maker (MEAN)</span>
						<a href = "https://github.com/kotakvishal7/webdev-kotak-vishalsanjiv" target="_blank">
              <span class = "glyphicon glyphicon-share-alt"></span></a>
      </div>
    </div>
    <div class = "row project-description">
      <div class = "col-xs-12">
        <ul>
          <li class = "description">Developed a MEAN (MongoDB 3.4, Express, Angular 4 and Node 8.7) stack web
            application for users that helps them build websites</li>
        </ul>
      </div>
    </div>
    <div class = "row project-item">
      <div class = "col-xs-12">
						<span class = "work-position">Diabetic Patient Readmission Application (Java)</span>
						<a href = "./papers/datamining.pdf" target="_blank"><span class = "glyphicon glyphicon-share-alt"></span></a>
      </div>
    </div>
    <div class = "row project-description">
      <div class = "col-xs-12">
        <ul>
          <li class = "description">Created algorithms using Java to predict Diabetic patient readmission after
            being discharged, by exploring a real-world dataset which presents ten years (1999 - 2008) of clinical
            care data at 130 hospitals</li>
        </ul>
      </div>
    </div>
    <div class = "row project-item">
      <div class = "col-xs-12">
						<span class = "work-position">Media Liscencig Lab (Java, Angular 1.x, MySQL)</span>
						<a href = "https://github.com/akhil0/MLL" target="_blank"><span class = "glyphicon glyphicon-share-alt"></span></a>
      </div>
    </div>
    <div class = "row project-description">
      <div class = "col-xs-12">
        <ul>
          <li class = "description">Developed a web application for musicians to upload their content and showcase
            their talent to community of users interested in music</li>
        </ul>
      </div>
    </div>
    <div class = "row project-item">
      <div class = "col-xs-12">
        <span class = "work-position">MS Pacman (Java)</span>
      </div>
    </div>
    <div class = "row project-description">
      <div class = "col-xs-12">
        <ul>
          <li class = "description">Implemented algorithms like Graph Search, Local Search, Genetic,
            Evolutionary Strategy, Adversarial Search and Neural Networks with Perceptron for Pacman and Ghosts
            in MS Pacman framework - Java and compared algorithm performance</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id = "research">
  <div class = "container">
    <div class = "row">
      <div class = "col-xs-12 attributes">
        <span class = "vishal-attributes">Research</span>
      </div>
    </div>
    <!--<div class = "row research-item">-->
      <!--<div class = "col-xs-12">-->
        <!--<span class = "work-position">Ontology-based Context-Aware Application (Android)</span>-->
        <!--<a href = "./papers/OntologyApplication.pdf" target="_blank"><span class = "glyphicon glyphicon-share-alt"></span></a>-->
      <!--</div>-->
    <!--</div>-->
    <div class = "row research-description">
      <div class = "col-xs-12">
        <ul>
          <li class = "description">Designed a location and reach-based recommender system for Android that provided
            the user with listed recommendations (regarding places such as restaurants, cinemas, etc.) drawn up based
            on their previous experiences. Integrated Ontology with Android application using Protégé, Androjena API
            , and MySQL database</li>
        </ul>
      </div>
    </div>
    <!--<div class = "row research-item">-->
      <!--<div class = "col-xs-12">-->
        <!--<span class = "work-position">Mode Manager Mobile Application (Android)</span>-->
        <!--<a href = "./papers/ModeManager.pdf" target="_blank"><span class = "glyphicon glyphicon-share-alt"></span></a>-->
      <!--</div>-->
    <!--</div>-->
    <div class = "row research-description">
      <div class = "col-xs-12">
        <ul>
          <li class = "description">Conceptualized an Android application that runs in the background to detect
            silent zones by using location tracker and automatically changes the profile of mobile to silent mode</li>
        </ul>
      </div>
    </div>
  </div>
</div>
-<div id = "courses">
<!--  <div class = "container">
    <div class = "row">
      <div class = "col-xs-12 attributes">
        <span class = "vishal-attributes">Courses</span>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-11 col-sm-6">
        <img [src]="mr.png" height="183" width="275"/>
      </div>
      <div class = "col-xs-11 col-sm-5 col-sm-offset-1">
        <img alt = "Web Development" src = "images/web.png" height = "250" width = "auto">
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-11 col-sm-6">
        <img alt = "Algorithms" src = "images/algorithm.png" height = "250" width = "auto">
      </div>
      <div class = "col-xs-11 col-sm-5 col-sm-offset-1">
        <img alt = "Data Mining" src = "images/datamining.png" height = "250" width = "auto">
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-11 col-sm-6">
        <img alt = "Managing Software Development" src = "images/msd.png" height = "250" width = "auto">
      </div>
      <div class = "col-xs-11 col-sm-5 col-sm-offset-1">
        <img alt = "Programming Design Paradigm" src = "images/pdp.png" height = "250" width = "360">
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-11 col-sm-6">
        <img alt = "Artificial Intelligence" src = "images/ai.png" height = "250" width = "360">
      </div>
      <div class = "col-xs-11 col-sm-5 col-sm-offset-1">
        <img alt = "Mobile Application Development" src = "images/mad.jpg" height = "250" width = "auto">
      </div>
    </div>
  </div> -->
</div>
<div id = "skills">
  <div class = "container">
    <div class = "row">
      <div class = "col-xs-12 attributes">
        <span class = "vishal-attributes">Skills</span>
      </div>
    </div>
    <div class = "row skill-item">
      <div class = "col-xs-2">
        <span class = "skill">Java</span>
      </div>
      <div class = "col-xs-10">
        <div id = "javaProgress">
          <div id = "javaBar">70%
          </div>
        </div>
      </div>
    </div>
    <div class = "row skill-item">
      <div class = "col-xs-2">
        <span class = "skill">C#</span>
      </div>
      <div class = "col-xs-10">
        <div id = "csharpProgress">
          <div id = "csharpBar">60%
          </div>
        </div>
      </div>
    </div>
    <div class = "row skill-item">
      <div class = "col-xs-2">
        <span class = "skill">Python</span>
      </div>
      <div class = "col-xs-10">
        <div id = "pythonProgress">
          <div id = "pythonBar">40%
          </div>
        </div>
      </div>
    </div>
    <div class = "row skill-item">
      <div class = "col-xs-2">
        <span class = "skill">HTML</span>
      </div>
      <div class = "col-xs-10">
        <div id = "htmlProgress">
          <div id = "htmlBar">90%
          </div>
        </div>
      </div>
    </div>
    <div class = "row skill-item">
      <div class = "col-xs-2">
        <span class = "skill">CSS</span>
      </div>
      <div class = "col-xs-10">
        <div id = "cssProgress">
          <div id = "cssBar">90%
          </div>
        </div>
      </div>
    </div>
    <div class = "row skill-item">
      <div class = "col-xs-2">
        <span class = "skill">JavaScript</span>
      </div>
      <div class = "col-xs-10">
        <div id = "jsProgress">
          <div id = "jsBar">70%
          </div>
        </div>
      </div>
    </div>
    <div class = "row skill-item">
      <div class = "col-xs-2">
        <span class = "skill">Angular</span>
      </div>
      <div class = "col-xs-10">
        <div id = "angularProgress">
          <div id = "angularBar">60%
          </div>
        </div>
      </div>
    </div>
    <div class = "row skill-item">
      <div class = "col-xs-2">
        <span class = "skill">Android</span>
      </div>
      <div class = "col-xs-10">
        <div id = "androidProgress">
          <div id = "androidBar">60%
          </div>
        </div>
      </div>
    </div>
    <div class = "row skill-item">
      <div class = "col-xs-2">
        <span class = "skill">Swift</span>
      </div>
      <div class = "col-xs-10">
        <div id = "swiftProgress">
          <div id = "swiftBar">10%
          </div>
        </div>
      </div>
    </div>
    <div class = "row skill-item">
      <div class = "col-xs-2">
        <span class = "skill">SQL</span>
      </div>
      <div class = "col-xs-10">
        <div id = "sqlProgress">
          <div id = "sqlBar">60%
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
