<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
    <title>New Website</title>
    <link type = "text/css" rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link type = "text/css" rel = "stylesheet" href="../css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top website-nav-background">
      <div class="container-fluid">
        <p class="navbar-text pull-left">
          <a href="website-list.html" class="navbar-link">
            <span class="website-nav-text glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
        <p class="navbar-header pull-left">
          <a class="navbar-brand thick">
            <b class = "website-nav-text website-nav-header">New Website</b>
          </a>
        </p>
        <p class="navbar-text pull-right">
          <a href="website-list.html" class="navbar-link">
            <span class="website-nav-text glyphicon glyphicon-ok"></span>
          </a>
        </p>
      </div>
    </nav>
    <div class = "container">
      <div class = "row">
        <div class = "col-sm-6">
          <label for = "website-name">Name</label>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-12">
          <input placeholder = "Name" type = "text" class = "form-control" id = "website-name" value = "facebook"/>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-6">
          <label for = "website-description" id = "website-description-label">Description</label>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-12">
          <textarea class = "form-control" rows = "5" id = "website-description" placeholder = "Description">
            A Social Networking website to connect the world
          </textarea>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom website-nav-background">
      <div class="container-fluid">
        <p class="navbar-text pull-right">
          <a href="profile.html">
            <span class="website-nav-text glyphicon glyphicon-user"></span>
          </a>
        </p>
      </div>
    </nav>
  </body>
</html>
