<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-text pull-left">
      <a [routerLink]="['/user' , userId, 'website']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class = "website-nav-header">Pages</b>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', 'new']" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
  </div>
</nav>
<div class = "container-fluid">
  <div *ngFor="let page of pages" class = "row page-item">
    <div class = "col-xs-6">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', page._id, 'widget']">
        <span class = "text text-info">{{page.name}}</span>
      </a>
    </div>
    <div class = "col-xs-6">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', page._id]">
        <span class = "glyphicon glyphicon-cog pull-right text-info"></span>
      </a>
    </div>
  </div>
</div>
<nav class = "navbar navbar-default navbar-fixed-bottom">
  <div class = "container-fluid">
    <p class = "navbar-text pull-right">
      <a [routerLink]="['/user', userId]">
        <span class = "glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
