<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
    <title>Page List</title>
    <link type = "text/css" rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link type = "text/css" rel = "stylesheet" href="../css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-text pull-left">
          <a href="../website/website-list.html" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </div>
        <div class="navbar-header pull-left">
          <a class="navbar-brand thick">
            <b class = "website-nav-header">Pages</b>
          </a>
        </div>
        <div class="navbar-text pull-right">
          <a href="page-new.html" class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </div>
      </div>
    </nav>
    <div class = "container-fluid">
      <div class = "row page-item">
        <div class = "col-xs-6">
          <a href = "../widget/widget-list.html">
            <span class = "text text-info">Blog Post</span>
          </a>
        </div>
        <div class = "col-xs-6">
          <a href = "page-edit.html">
            <span class = "glyphicon glyphicon-cog pull-right text-info"></span>
          </a>
        </div>
      </div>
      <div class = "row page-item">
        <div class = "col-xs-6">
          <a href = "../widget/widget-list.html">
            <span class = "text text-info">Blogs</span>
          </a>
        </div>
        <div class = "col-xs-6">
          <a href = "page-edit.html">
            <span class = "glyphicon glyphicon-cog pull-right text-info"></span>
          </a>
        </div>
      </div>
      <div class = "row page-item">
        <div class = "col-xs-6">
          <a href = "../widget/widget-list.html">
            <span class = "text text-info">Home</span>
          </a>
        </div>
        <div class = "col-xs-6">
          <a href = "page-edit.html">
            <span class = "glyphicon glyphicon-cog pull-right text-info"></span>
          </a>
        </div>
      </div>
      <div class = "row page-item">
        <div class = "col-xs-6">
          <a href = "../widget/widget-list.html">
            <span class = "text text-info">About</span>
          </a>
        </div>
        <div class = "col-xs-6">
          <a href = "page-edit.html">
            <span class = "glyphicon glyphicon-cog pull-right text-info"></span>
          </a>
        </div>
      </div>
      <div class = "row page-item">
        <div class = "col-xs-6">
          <a href = "../widget/widget-list.html">
            <span class = "text text-info">Contact Us</span>
          </a>
        </div>
        <div class = "col-xs-6">
          <a href = "page-edit.html">
            <span class = "glyphicon glyphicon-cog pull-right text-info"></span>
          </a>
        </div>
      </div>
    </div>
    <nav class = "navbar navbar-default navbar-fixed-bottom">
      <div class = "container-fluid">
        <p class = "navbar-text pull-right">
          <a href = "../user/profile.html">
            <span class = "glyphicon glyphicon-user"></span>
          </a>
        <p/>
      </div>
    </nav>
  </body>
</html>
