<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
    <title>Edit Page</title>
    <link type = "text/css" rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link type = "text/css" rel = "stylesheet" href="../css/style.css">
  </head>
  <body>
  <nav class = "navbar navbar-default navbar-fixed-top">
    <div class = "container-fluid">
      <p class = "navbar-text pull-left">
        <a href = "page-list.html" class = "page-nav-text">
          <span class = "glyphicon glyphicon-chevron-left"></span>
        </a>
      </p>
      <p class = "navbar-text">
        <a href = "page-edit.html" class = "page-nav-text">
          <label>Edit Page</label>
        </a>
      </p>
      <p class = "navbar-text pull-right">
        <a href = "page-list.html" class = "page-nav-text">
          <span class = "glyphicon glyphicon-ok"></span>
        </a>
      </p>
    </div>
  </nav>
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-6">
        <label for = "edit-page-name">Page Name</label>
      </div>
    </div>
    <div class = "row">
      <div class = "col-sm-12">
        <input class = "form-control" value = "Blogpost" placeholder = "Page Name" id = "edit-page-name" />
      </div>
    </div>
    <div class = "row edit-page-title-label">
      <div class = "col-sm-6">
        <label for = "edit-page-title">Page Title</label>
      </div>
    </div>
    <div class = "row">
      <div class = "col-sm-12">
        <input class = "form-control" placeholder = "Page Title" id = "edit-page-title" />
      </div>
    </div>
    <div class = "row delete-button">
      <div class = "col-sm-12">
        <button class = "btn btn-danger btn-block" href = "page-list.html">Delete</button>
      </div>
    </div>
  </div>
  <nav class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container-fluid">
      <p class = "navbar-text pull-right">
        <a href = "../user/profile.html" class = "page-nav-text">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </p>
    </div>
  </nav>
  </body>
</html>
