<div [hidden]="!editFlag">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-text pull-left">
          <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </div>
        <div class="navbar-header pull-left">
          <a class="navbar-brand thick">
            <b class = "website-nav-header">Widget Edit</b>
          </a>
        </div>
        <div class="navbar-text pull-right">
          <a class="navbar-link">
            <span class="glyphicon glyphicon-ok"
                  (click)="updateWidget(widgetText, widgetSize, widget._id)"></span>
          </a>
        </div>
      </div>
    </nav>
</div>
<div [hidden]="editFlag">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-text pull-left">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b class = "website-nav-header">Widget New</b>
        </a>
      </div>
      <div class="navbar-text pull-right">
        <a class="navbar-link">
          <span class="glyphicon glyphicon-ok" (click)="createWidget(widgetText, widgetSize)"></span>
        </a>
      </div>
    </div>
  </nav>
</div>
<div class = "container-fluid">
  <div class = "row widget-item">
    <div class = "col-xs-6">
      <label for = "widget-header-text">Text</label>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12">
      <input class = "form-control" placeholder = "Text" id = "widget-header-text"
             type = "text" required [(ngModel)]="widgetText"/>
    </div>
  </div>
  <div class = "row widget-item">
    <div class = "col-xs-6">
      <label for = "widget-header-size">Size</label>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12">
      <input class = "form-control" placeholder = "Size" id = "widget-header-size"
             type = "number" required [(ngModel)]="widgetSize"/>
    </div>
  </div>
  <div class = "row delete-button" [hidden]="!editFlag">
    <div class = "col-xs-12">
      <a class = "btn btn-danger btn-block" (click)="deleteWidget(widget._id)">Delete</a>
    </div>
  </div>
  <div class="row errorBlock" [hidden]="!showError">
    <div class = "col-xs-12 col-sm-12 col-sm-offset-3">
      <span class="errorMessage">Header data missing</span>
    </div>
  </div>
</div>
<nav class = "navbar navbar-default navbar-fixed-bottom">
  <div class = "container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]">
        <span class = "glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
