<div [hidden]="!editFlag">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-text pull-left">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b class = "website-nav-header">Widget Edit</b>
        </a>
      </div>
      <div class="navbar-text pull-right">
        <a class="navbar-link" [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']">
            <span class="glyphicon glyphicon-ok"
                  (click)="updateWidget(widget.text, widget.name, widget.width, widget.url, widget._id)"></span>
        </a>
      </div>
    </div>
  </nav>
</div>
<div [hidden]="editFlag">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-text pull-left">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b class = "website-nav-header">Widget New</b>
        </a>
      </div>
      <div class="navbar-text pull-right">
        <a class="navbar-link">
          <span class="glyphicon glyphicon-ok"
                (click)="createWidget(widget.text, widget.name, widget.width, widget.url)"></span>
        </a>
      </div>
    </div>
  </nav>
</div>
<div class = "container-fluid">
  <div class = "row widget-item">
    <div class = "col-xs-6">
      <label for = "widget-youtube-name">Name</label>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12">
      <input class = "form-control" placeholder = "Youtube Video Name" type = "text"
             [(ngModel)]="widget.name" id  = "widget-youtube-name"/>
    </div>
  </div>
  <div class = "row widget-item">
    <div class = "col-xs-6">
      <label for = "widget-youtube-text">Text</label>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12">
      <input id = "widget-youtube-text" type = "text" class = "form-control"
             [(ngModel)]="widget.text" placeholder = "Youtube video text"/>
    </div>
  </div>
  <div class = "row widget-item">
    <div class = "col-xs-6">
      <label for = "widget-youtube-url">URL</label>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12">
      <input type = "text" class = "form-control" id = "widget-youtube-url"
             [(ngModel)]="widget.url" placeholder = "Youtube video URl"/>
    </div>
  </div>
  <div class = "row widget-item">
    <div class = "col-xs-6">
      <label for = "widget-youtube-width">Width</label>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12">
      <input type = "text" class = "form-control" id = "widget-youtube-width"
             [(ngModel)]="widget.width" placeholder = "Youtube video width"/>
    </div>
  </div>
  <div class = "row delete-button"  [hidden]="!editFlag">
    <div class = "col-xs-12">
      <a class = "btn btn-danger btn-block form-control" (click)="deleteWidget(widget._id)"
         [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']">
        <span>Delete</span>
      </a>
    </div>
  </div>
  <div class="row errorBlock" [hidden]="!showError">
    <div class = "col-sm-12 col-xs-12 col-sm-offset-5 col-xs-offset-1">
      <span class="errorMessage">Youtube data missing</span>
    </div>
  </div>
</div>
<nav class = "navbar navbar-default navbar-fixed-bottom">
  <div class = "container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]">
        <span class = "glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
