<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-text pull-left">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class = "website-nav-header">Choose Widget</b>
      </a>
    </div>
  </div>
</nav>
<div class = "container-fluid">
  <div class = "row page-item">
    <div class = "col-xs-6">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new', 'header']">
        <span class = "text text-info">Header</span>
      </a>
    </div>
  </div>
  <div class = "row page-item">
    <div class = "col-xs-6">
      <a>
        <span class = "text text-info">HTML</span>
      </a>
    </div>
  </div>
  <div class = "row page-item">
    <div class = "col-xs-6">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new', 'image']">
        <span class = "text text-info">Image</span>
      </a>
    </div>
  </div>
  <div class = "row page-item">
    <div class = "col-xs-6">
      <a>
        <span class = "text text-info">Text</span>
      </a>
    </div>
  </div>
  <div class = "row page-item">
    <div class = "col-xs-6">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new', 'youtube']">
        <span class = "text text-info">Youtube</span>
      </a>
    </div>
  </div>
</div>
<nav class = "navbar navbar-default navbar-fixed-bottom">
  <div class = "container-fluid">
    <p class = "navbar-text pull-right">
      <a [routerLink]="['/user', userId]">
        <span class = "glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
