<nav class="navbar navbar-default navbar-fixed-top website-nav-background">
  <div class="row container-fluid">
    <div class="col-sm-4">
      <div class="navbar-text pull-left">
        <a [routerLink]="['/user', userId, 'website']" class="navbar-link">
          <span class="website-nav-text glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header pull-left hidden-xs">
        <a class="navbar-brand thick">
          <b class = "website-nav-text website-nav-header">Websites</b>
        </a>
      </div>
      <div class="navbar-text pull-right hidden-xs">
        <a [routerLink]="['/user', userId, 'website', 'new']" class="navbar-link">
          <span class="website-nav-text glyphicon glyphicon-plus"
                (click)="createWebsite(websiteName, websiteDescription)"></span>
        </a>
      </div>
    </div>
    <div class = "col-sm-8">
      <div class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b class = "website-nav-text website-nav-header">New Website</b>
        </a>
      </div>
      <div class="navbar-text pull-right">
        <a class="navbar-link">
          <span class="website-nav-text glyphicon glyphicon-ok"
                (click)="createWebsite(websiteName, websiteDescription, userId)"></span>
        </a>
      </div>
    </div>
  </div>
</nav>
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-sm-4 hidden-xs">
      <div *ngFor="let website of websites" class = "row website-item">
        <div class = "col-sm-6">
          <a [routerLink]="['/user', userId, 'website', website._id, 'page']">
            <span class = "text text-info">{{website.name}}</span>
          </a>
        </div>
        <div class = "col-sm-6">
          <a [routerLink]="['/user', userId, 'website', website._id]">
            <span class = "glyphicon glyphicon-cog pull-right text-info"></span>
          </a>
        </div>
      </div>
    </div>
    <div class = "col-sm-8 col-xs-12">
      <div class = "row">
        <div class = "col-sm-12 col-xs-12">
          <label for = "website-name">Name</label>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-12 col-xs-12">
          <input placeholder = "Name" type = "text" class = "form-control" id = "website-name"
                 [(ngModel)]="websiteName"/>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-12 col-xs-12">
          <label for = "website-description" id = "website-description-label">Description</label>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-12 col-xs-12">
          <textarea class = "form-control" rows = "5" id = "website-description"
                    placeholder = "Description" [(ngModel)]="websiteDescription"></textarea>
        </div>
      </div>
      <div class="row errorBlock" [hidden]="!showError">
        <div class = "col-xs-12 col-sm-9 col-sm-offset-3">
          <span class="errorMessage">Please enter valid Website Name/Description</span>
        </div>
      </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom website-nav-background">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user' , userId]">
        <span class="website-nav-text glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
