<div class="container">

  <div class = "row regitser-elements">
    <div class = "col-xs-12">
      <h1>Register</h1>
    </div>
  </div>
  <div class = "row regitser-elements">
    <div class = "col-xs-12">
      <input placeholder="username" type="text"class="form-control" [(ngModel)]="username"/>
    </div>
  </div>
  <div class = "row regitser-elements">
    <div class = "col-xs-12">
      <input placeholder="password" type="password" class="form-control" [(ngModel)]="password"/>
    </div>
  </div>
  <div class = "row regitser-elements">
    <div class = "col-xs-12">
      <input placeholder="verify password" type="password" class="form-control" [(ngModel)]="verifyPassword"/>
    </div>
  </div>
  <div class = "row regitser-elements">
    <div class = "col-xs-12">
      <a class="btn btn-primary btn-block" (click)="createUser(username, password, verifyPassword)">Register</a>
    </div>
  </div>
  <div class = "row regitser-elements">
    <div class = "col-xs-12">
      <a class="btn btn-danger btn-block" [routerLink]="['/login']">Cancel</a>
    </div>
  </div>
  <div class="row errorBlock" [hidden]="!showError">
    <div class = "col-sm-12 col-xs-12 col-sm-offset-4 col-xs-offset-1">
      <span class="errorMessage">Please enter Username and Passwords</span>
    </div>
  </div>
</div>
